
@{
    ViewBag.Title = "Index";
}
<br/>
<br />
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-xs-12" id="slider">
                <!-- Top part of the slider -->
                <div class="row">
                    <a href="demo2.html">
                        <div class="col-sm-8" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                        <img src="~/Webicerik/img/baslangic5.jpg" />
                                    </div>

                                    <div class="item" data-slide-number="1">
                                        <img src="~/Webicerik/img/ileri2.png" />
                                    </div>

                                    <div class="item" data-slide-number="2">
                                        <img src="~/Webicerik/img/ileri3.jpg" />
                                    </div>

                                    <div class="item" data-slide-number="3">
                            
                                        <img src="~/Webicerik/img/mobil4.png" />
                                    </div>

                                    <div class="item" data-slide-number="4">
                               
                                        <img src="~/Webicerik/img/mobil4.png" />
                                    </div>

                                    <div class="item" data-slide-number="5">
                                  
                                        <img src="~/Webicerik/img/ileri.jpg" />
                                    </div>
                                </div><!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </a>
                    <div class="col-sm-4" id="carousel-text"></div>

                    <div id="slide-content" style="display: none; ">
                        <div id="slide-content-0">
                            <h2>C# giriş seviyesi ders #1</h2>
                            <h5>Yusuf Eren Ayas Tarafından</h5>
                            <p>Merhaba arkadaşlar bugün dersimizde c # a girişimizi yapıyoruz ,Yararlı Olması dileğiyle !</p>
                            <p class="sub-text">İzleyen Sayisi:322 <a href="demo2.html">Hemen İzle !</a></p>
                        </div>

                        <div id="slide-content-1">
                            <h2>MVC-E ticaret Sitesi #3</h2>
                            <h5>Yasin Dikilitaş Tarafından</h5>
                            <p>E-ticaret sitesine kaldığımız yerden devam!</p>
                            <p class="sub-text">izleyici sayısı:1121 <a href="#">Hemen İzle !</a></p>
                        </div>

                        <div id="slide-content-2">
                            <h2>Linux Server Kurma-Terminal</h2>
                            <h5>Ergün Kezer Tarafından</h5>
                            <p>Linuxta server güvenliği ve basamakları ile kurulum adım adım sizlerle !</p>
                            <p class="sub-text">İzleyici Sayısı:1112<a href="#">Hemen İzle !</a></p>
                        </div>

                        <div id="slide-content-3">
                            <h2>Unity ile Park Etme Oyunu #1</h2>
                            <h5>Hatem Dumlu Tarafından</h5>
                            <p>Süper eğlenceli park etme oyunumuza yeni modeller ekliyoruz..</p>
                            <p class="sub-text">İzleyici Sayısı:653<a href="#">Hemen İzle !</a></p>
                        </div>

                        <div id="slide-content-4">
                            <h2>Mobil Retrica Clone</h2>
                            <h5>Burak Işık Tarafından</h5>
                            <p>Görüntü İşleme uygulamamızı android üzerinden test ediyoruz. </p>
                            <p class="sub-text">October 24 2014 - <a href="#">Hemen İzle !</a></p>
                        </div>

                        <div id="slide-content-5">
                            <h2>Unreal Engine -Strateji Oyunu #1</h2>
                            <h5>Cevat Yerli Tarafından</h5>
                            <p>UT engine ve marifetleri !</p>
                            <p class="sub-text">İzleyici Sayısı:5433<a href="#">Hemen İzle !</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/Slider-->

        <div class="row hidden-xs" id="slider-thumbs">
            <!-- Bottom switcher of slider -->
            <ul class="hide-bullets">
                <li class="col-sm-2">
                    <a class="thumbnail" id="carousel-selector-0">
                        <img src="~/Webicerik/img/baslangic5.jpg" /></a>
                </li>

                <li class="col-sm-2">
                    <a class="thumbnail" id="carousel-selector-1">
                        <img src="~/Webicerik/img/ileri2.png" /></a>
                </li>

                <li class="col-sm-2">
                    <a class="thumbnail" id="carousel-selector-2">
                        <img src="~/Webicerik/img/ileri3.jpg" /></a>
                </li>

                <li class="col-sm-2">
                    <a class="thumbnail" id="carousel-selector-3">
                        <img src="~/Webicerik/img/mobil3.png" /></a>
                </li>

                <li class="col-sm-2">
                    <a class="thumbnail" id="carousel-selector-4">
                        <img src="~/Webicerik/img/mobil4.png" /></a>
                </li>

                <li class="col-sm-2">
                    <a class="thumbnail" id="carousel-selector-5">
                        <img src="~/Webicerik/img/ileri.jpg" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<section id="main-info" class="container">
    <div>
        <h1 style="text-align: center; color: black;text-shadow:1px 1px white"> Yayındaki Diller </h1>

        <div class="row">
            <div class="col-sm-3 wow fadeIn" data-wow-delay="0.4s">
                <hr class="line purple">
                <img src="img/c.png" class="img-responsive" alt="Asp.net" />
                <h2 style="text-shadow:1px 1px white">C++</h2>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:1233</p>
            </div>
            <div class="col-sm-3 wow fadeIn" data-wow-delay="0.8s">
                <hr class="line blue">
                <img src="img/java.png" class="img-responsive" alt="Asp.net" />
                <h2 style="text-shadow:1px 1px white">Java</h2>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:988</p>
            </div>
            <div class="col-sm-3 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line yellow">
                <img src="img/php.png" class="img-responsive" alt="Asp.net" />
                <h2 style="text-shadow:1px 1px white">Php</h2>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:750</p>
            </div>
            <div class="col-sm-3 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line green">
                <img src="img/asp.jpg" class="img-responsive" alt="Asp.net" />
                <h2 style="text-shadow:1px 1px white">Asp.net</h2>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:650</p>
            </div>
            <div class="row">
                <div class="col-sm-3 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line purple">
                    <img src="img/swift.jpg" class="img-responsive" alt="Asp.net" />
                    <h2 style="text-shadow:1px 1px white">Swift</h2>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:500</p>
                </div>
                <div class="col-sm-3 wow fadeIn" data-wow-delay="0.8s">
                    <hr class="line blue">
                    <img src="img/csharp.png" class="img-responsive" alt="Asp.net" />
                    <h2 style="text-shadow:1px 1px white">C#</h2>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:355</p>
                </div>
                <div class="col-sm-3 wow fadeIn" data-wow-delay="1.2s">
                    <hr class="line yellow">
                    <img src="img/javascript.png" class="img-responsive" alt="Asp.net" />
                    <h2 style="text-shadow:1px 1px white">JavaScript</h2>
                    <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:250</p>
                </div>
                <div class="col-sm-3 wow fadeIn" data-wow-delay="1.2s">
                    <hr class="line green">
                    <img src="img/python.png" class="img-responsive" alt="Asp.net" />
                    <h2 style="text-shadow:1px 1px white">Python</h2>
                    <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:650</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="messagebar">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <span class="title">Bilgilerine paylaş ,hünerlerini sergile</span>
            </div>
        </div>
    </div>
</div>

<section id="main-info" class="container">
    <div>
        <h2 style="text-align: center; color: black;text-shadow:1px 1px white"> PC Platfromunda Önerilen Yayınlar </h2>

        <div class="row">
            <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                <hr class="line purple">
                <img src="img/pc1.png" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">C# Hesap Makinesi Part1</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:300</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="0.8s">
                <hr class="line blue">
                <img src="img/pc2.png" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">MVC giriş </h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:278</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line yellow">
                <img src="img/pc3.png" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">C# VYTS Ders #7</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:232</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line green">
                <img src="img/pc4.png" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Php Giriş</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:210</p>
            </div>
            <div class="row">
                <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line purple">
                    <img src="img/pc5.png" class="img-responsive" alt="Asp.net" />
                    <h4 style="text-shadow:1px 1px white">Php Frameworkler Tanıtımı</h4>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:195</p>
                </div>
                <div class="col-sm-2 wow fadeIn" data-wow-delay="0.8s">
                    <hr class="line blue">
                    <img src="img/pc6.png" class="img-responsive" alt="Asp.net" />
                    <h4 style="text-shadow:1px 1px white">Phython Proje Devam #4</h4>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:122</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="main-info" class="container">
    <div>
        <h2 style="text-align: center; color: black;text-shadow:1px 1px white"> Mobil Platfromunda Önerilen Yayınlar </h2>

        <div class="row">
            <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                <hr class="line purple">
                <img src="img/mobil1.png" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Android Studio Giriş</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:995</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="0.8s">
                <hr class="line blue">
                <img src="img/mobil2.jpg" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Mobil Uygulamaya Giriş</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:853</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line yellow">
                <img src="img/mobil3.png" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Unity ile Park Etme Oyunu #1</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:653</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line green">
                <img src="img/mobil4.png" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Mobil Retrica Clone</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:455</p>
            </div>
            <div class="row">
                <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line purple">
                    <img src="img/mobil5.jpg" class="img-responsive" alt="Asp.net" />
                    <h4 style="text-shadow:1px 1px white">Websitenizi için Mobil App #2</h4>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:254</p>
                </div>
                <div class="col-sm-2 wow fadeIn" data-wow-delay="0.8s">
                    <hr class="line blue">
                    <img src="img/mobil6.jpg" class="img-responsive" alt="Asp.net" />
                    <h4 style="text-shadow:1px 1px white">Android Kitkat Yenilikler</h4>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:154</p>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="messagebar2">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8">
                <span class="title"></span>
            </div>
            <div class="col-lg-4">
                <span class="title">Az kod,Çok iş !</span>
            </div>
        </div>
    </div>
</div>
<section id="main-info" class="container">
    <div>
        <h2 style="text-align: center; color: black;text-shadow:1px 1px white"> Başlangıç Seviyesi Yayınlar </h2>

        <div class="row">
            <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                <hr class="line purple">
                <img src="img/baslangic1.jpg" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Word Kullanımı Ders 1</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:1233</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="0.8s">
                <hr class="line blue">
                <img src="img/baslangic6.jpg" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Eclipse Studio Giriş</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:988</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line yellow">
                <img src="img/baslangic3.jpg" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">HTML nedir ?</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:750</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line green">
                <img src="img/baslangic2.jpg" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Windows 10 ve yenilikler</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:650</p>
            </div>
            <div class="row">
                <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line purple">
                    <img src="img/baslangic4.jpg" class="img-responsive" alt="Asp.net" />
                    <h4 style="text-shadow:1px 1px white">Photshopa Giriş</h4>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:323</p>
                </div>
                <div class="col-sm-2 wow fadeIn" data-wow-delay="0.8s">
                    <hr class="line blue">
                    <img src="img/baslangic5.jpg" class="img-responsive" alt="Asp.net" />
                    <h4 style="text-shadow:1px 1px white">Visual Studio Araçlar</h4>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:123</p>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="main-info" class="container">
    <div>
        <h2 style="text-align: center; color: black;text-shadow:1px 1px white"> İleri Seviye Yayınlar </h2>

        <div class="row">
            <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                <hr class="line purple">
                <img src="img/ileri.jpg" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Unreal Engine -Strateji Oyunu #1</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:5433</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="0.8s">
                <hr class="line blue">
                <img src="img/ileri2.png" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">MVC-E ticaret Sitesi #3</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:1121</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line yellow">
                <img src="img/ileri3.jpg" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">Linux Server Kurma-Terminal</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:1112</p>
            </div>
            <div class="col-sm-2 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line green">
                <img src="img/ileri4.jpg" class="img-responsive" alt="Asp.net" />
                <h4 style="text-shadow:1px 1px white">IOS Uygulama Geliştirme #5</h4>
                <p style="font-weight: bold;text-shadow:1px 1px white">İzleyici Sayısı:234</p>
            </div>
            <div class="row">
                <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line purple">
                    <img src="img/ileri5.png" class="img-responsive" alt="Asp.net" />
                    <h4 style="text-shadow:1px 1px white">CSS ile Profesyonel Dizayn #4</h4>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:124</p>
                </div>
                <div class="col-sm-2 wow fadeIn" data-wow-delay="0.8s">
                    <hr class="line blue">
                    <img src="img/ileri6.png" class="img-responsive" alt="Asp.net" />
                    <h4 style="text-shadow:1px 1px white">Javascript İleri Seviye Proje</h4>
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:70</p>

                </div>
            </div>
        </div>
    </div>
</section>